{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suspenso - Tienda de Videojuegos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="index.html" class="logo">
                <img src="{% static '/Imagenes/logo.png' %}" alt="Logo de la tienda">
            </a>
            <div class="container-full flex-end">
                <a href="login.html" class="nav-link">Iniciar Sesión</a>
                <a href="registro.html" class="nav-link registrate">Registrate</a>
            </div>
        </nav>
    </header>

    <main class="row p-5">
        <h1>Acción</h1>
        <p>Siente la adrenalina y la emoción del combate en nuestros juegos de acción. Desde el caos urbano de Grand Theft Auto V hasta las encantadoras aventuras de Kirby, estos juegos te ofrecen acción sin límites y entretenimiento garantizado.</p>
        <div class="row container-full justify-content-center">
            <div class="col-sm-3 col-12">
                <a href="gta.html" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/gta.jpg' %}" alt="Grand Theft Auto V">
                        <h3>Grand Theft Auto V</h3>
                        <p>69.990 CLP</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-12">
                <a href="kirby.html" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/kirby.jpg' %}" alt="Kirby">
                        <h3>Kirby</h3>
                        <p>69.990 CLP</p>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Tienda de Videojuegos. Todos los derechos reservados.</p>
    </footer>
</body>

</html>