{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Descripción detallada de Resident Evil, un emocionante juego de terror.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Tomb Raider - Tienda de Videojuegos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="index.html" class="logo">
                <img src="{% static '/Imagenes/logo.png' %}" alt="Logo de la tienda">
            </a>
            <div class="container-full flex-end">
                <a href="login.html" class="nav-link">Iniciar Sesión</a>
                <a href="registro.html" class="nav-link registrate">Registrate</a>
            </div>
        </nav>
    </header>

    <main class="container-full">
                <div class="game-description row">
                    <div class="col-12 col-sm-4">
                        <h1 class="mb-3">Tomb Raider</h1>
                        <img src="{% static '/Imagenes/tomraider.jpg' %}" alt="Tomb Raider" class="img-fluid mb-3">
                    </div>
                    <div class="col-12 col-sm-8">
                        <p class="description-text">Tomb Raider: es una franquicia de videojuegos de acción y aventuras protagonizada por la intrépida arqueóloga Lara Croft. El juego sigue a Lara en su búsqueda de artefactos antiguos y misteriosos mientras explora tumbas, ruinas y entornos exóticos. Desde su debut en 1996, Tomb Raider ha evolucionado, ofreciendo una mezcla de resolución de acertijos, exploración, y combate. La serie es conocida por sus escenarios detallados, sus complejas historias y la habilidad de Lara para superar obstáculos y enfrentarse a enemigos en su búsqueda de tesoros y secretos. La saga ha sido aclamada por su innovador diseño de niveles y el desarrollo del personaje de Lara Croft.</p>
                        <p class="h4">$39.990</p>
                        <div class="text-center">
                            <a href="index.html" class="btn btn-outline-primary">Comprar</a>
                        </div>
                    </div>
                </div>
    </main>

    <footer>
        <p>&copy; 2024 Tienda de Videojuegos. Todos los derechos reservados.</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>