{% extends "juegos/base_generic.html" %}
{% load static %}

{% block content %}
    <main class="container-full row">
        <aside class="sidebar col-2">
            <a href="#categorias" class="sidebar-link">Categorías</a>
            <ul class="lista">
                <li><a href="{% url 'supervivencia' %}">Supervivencia</a></li>
                <li><a href="{% url 'terror' %}">Terror</a></li>
                <li><a href="{% url 'suspenso' %}">Suspenso</a></li>
                <li><a href="{% url 'accion' %}">Acción</a></li>
                <li><a href="{% url 'mundo_abierto' %}">Mundo Abierto</a></li>
                <li><a href="{% url 'todosLosJuegos' %}" class="all-categories">Todos los Juegos</a></li>
            </ul>
        </aside>
        <section class="main-content col-10 mr-5">
            <div class="search-bar">
                <input type="text" placeholder="Buscar juegos...">
                <button>Buscar</button>
            </div>

            <div class="game-grid">
                <a href="{% url 'the_evil_within' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/theevilwhitin.jpg' %}" alt="Evil Within 2">
                        <h3>Evil Within 2</h3>
                        <p>59.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'resident_evil' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/residentevil.jpg' %}" alt="Resident Evil 4">
                        <h3>Resident Evil 4</h3>
                        <p>49.999 CLP</p>
                    </div>
                </a>
                <a href="{% url 'minecraft' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/minecraft.jpg' %}" alt="Minecraft">
                        <h3>Minecraft</h3>
                        <p>39.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'gta' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/gta.jpg' %}" alt="Grand Theft Auto V">
                        <h3>Grand Theft Auto V</h3>
                        <p>69.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'kirby' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/kirby.jpg' %}" alt="Kirby">
                        <h3>Kirby</h3>
                        <p>69.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'theforest' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/theforest.jpg' %}" alt="The forest">
                        <h3>The forest</h3>
                        <p>69.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'subnautica' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/subnautica.jpg' %}" alt="Subnautica">
                        <h3>Subnautica</h3>
                        <p>69.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'supermario' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/supermario.jpg' %}" alt="Supermario">
                        <h3>Supermario</h3>
                        <p>69.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'gary_mod' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/garymod.jpg' %}" alt="Gary's Mod">
                        <h3>Gary's Mod</h3>
                        <p>29.990 CLP</p>
                    </div>
                </a>
                <a href="{% url 'zelda' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/zelda.jpg' %}" alt="The Legend of Zelda: Breath of the Wild">
                        <h3>The Legend of Zelda: Breath of the Wild</h3>
                        <p>19.909 CLP</p>
                    </div>
                </a>
                <a href="{% url 'the_witcher' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/thewitcher.jpg' %}" alt="The Witcher">
                        <h3>The Witcher</h3>
                        <p>19.909 CLP</p>
                    </div>
                </a>
                <a href="{% url 'tom_raider' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/tomraider.jpg' %}" alt="Tom Raider">
                        <h3>Tomb Raider</h3>
                        <p>19.909 CLP</p>
                    </div>
                </a>
            </div>
        </section>
    </main>
{% endblock %}