{% extends "juegos/base_generic.html" %}
{% load static %}

{% block content %}
    <main class="container-full row">
        <aside class="sidebar col-2">
            <a href="#categorias" class="sidebar-link">Categorías</a>
            <ul class="lista">
                {% for categoria in categorias %}
                    <li><a href="{% url 'detalle_categoria' categoria.pk %}">{{ categoria.nombre }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        <section class="main-content col-10 mr-5">
            <form method="GET" action="{% url 'index' %}">
                    <div class="search-bar">
                        <input type="text" name="q" placeholder="Buscar juegos...">
                        <button type="submit">Buscar</button>
                    </div>
                </form>

            <div class="game-grid">
                {% for juego in juegos %}
                    <a href="{% url 'detalle_juego' juego.pk %}" class="game-card-link">
                        <div class="game-card">
                            <img src="{{ juego.url_imagen }}" alt="{{ juego.nombre }}">
                            <h3>{{ juego.nombre }}</h3>
                            <p>{{ juego.precio }} CLP</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
