{% extends 'juegos/base.html.twig' %}
{% block title %}Categorías juegos{% endblock %}

{% block content %}
<div class="row">
    {% for categoria in categorias %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ categoria.strCategoryThumb }}" class="card-img-top" alt="{{ categoria.strCategory }}">
            <div class="card-body">
                <h5 class="card-title">{{ categoria.strCategory }}</h5>
                <p class="card-text">{{ categoria.strCategoryDescription }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
