{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suspenso - Tienda de Videojuegos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static '/Imagenes/logo.png' %}" alt="Logo de la tienda">
            </a>
            <div class="container-full flex-end">
                <a href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a>
                <a href="{% url 'registro' %}" class="nav-link registrate">Registrate</a>
            </div>
        </nav>
    </header>

    <main class="row p-5">
        <h1>Mundo Abierto</h1>
        <p>Explora vastos y detallados mundos llenos de posibilidades en nuestros juegos de mundo abierto. Ya sea construyendo y explorando en Minecraft o embarcándote en una aventura épica en The Legend of Zelda: Breath of the Wild, la libertad y la aventura te esperan en cada esquina.</p>
        <div class="row container-full justify-content-center">
            <div class="col-sm-3 col-12">
                <a href="{% url 'minecraft' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/minecraft.jpg' %}" alt="Minecraft">
                        <h3>Minecraft</h3>
                        <p>39.990 CLP</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-12">
                <a href="{% url 'zelda' %}" class="game-card-link">
                    <div class="game-card">
                        <img src="{% static '/Imagenes/zelda.jpg' %}" alt="The Legend of Zelda: Breath of the Wild">
                        <h3>The Legend of Zelda: Breath of the Wild</h3>
                        <p>19.909 CLP</p>
                    </div>
                </a>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2024 Tienda de Videojuegos. Todos los derechos reservados.</p>
    </footer>
</body>

</html>