:root {
    --background: #121115;
}

/* Estilos generales */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Estilos del encabezado */
header {
    background: var(--background);
    padding: 15px 20px;
    border-bottom: 2px solid #A5D8FF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    max-width: 180px;
    height: auto;
}

/* Navbar Links */
.nav-link {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    padding: 10px 25px !important;
    border-radius: 5px;
    text-align: center;
    border: none;
    background: linear-gradient(135deg, #c281ff, #7dc7ff, #bf7dfe);
    background-size: 200% 200%;
    animation: iridescent 1.5s ease infinite;
}
.nav-link:hover {
    color: #f4f4f4;
}

.registrate {
    background: linear-gradient(135deg, #c281ff, #7dc7ff, #bf7dfe);
    background-size: 200% 200%;
    animation: iridescent 1.5s ease infinite;
}

.registrate:hover {
    color: #FFFFFF;
}

/* Estilo del botón "Todas las Categorías" */
.all-categories {
    color: #f4f4f4;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(135deg, #c281ff, #7dc7ff, #bf7dfe);
    background-size: 200% 200%;
    animation: iridescent 1.5s ease infinite;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.all-categories:hover {
    color: #ffffff;
    background-color: var(--background); /* Fondo oscuro al pasar el cursor */
    transform: scale(1.05);
}

/* Estilos del sidebar */
.sidebar {
    width: 250px;
    background-color: var(--background);
    color: #f4f4f4;
    padding: 20px;
}

.sidebar-link {
    font-size: 24px;
    color: #f4f4f4;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
}

.sidebar-link:hover {
    color: #f4f4f4;
    text-decoration: none;
}

.lista {
    list-style-type: none;
    padding-left: 0;
}

.lista li {
    margin-bottom: 20px;
}

.lista a {
    text-decoration: none;
    font-size: 18px;
    color: #f4f4f4;
    border-bottom: 2px solid #A5D8FF;
    display: block;
    padding: 15px;
    background-color: var(--background);
    transition: background-color 0.3s ease;
}

.lista a:hover {
    background-color: var(--background);
}

/* Estilos del área principal */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: var(--background);
}

/* Estilos de la barra de búsqueda */
.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 12px 20px;
    border: transparent;
    border-bottom: 2px solid #D4A5FF;
    border-right: transparent;
    outline: none;
    background-color: var(--background);
    color: #f4f4f4;
    font-size: 16px;
}

.search-bar button {
    padding: 12px 25px;
    border: 2px solid transparent;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(135deg, #c281ff, #7dc7ff, #bf7dfe);
    background-size: 200% 200%;
    animation: iridescent 1.5s ease infinite;
    color: #f4f4f4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.search-bar button:hover {
    color: #ffffff;
    background-color: var(--background);
}

/* Estilos de la rejilla de juegos */
.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding-top: 15px;
}

.game-card {
    position: relative;
    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 7px;
    padding: 14px 12px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card > img {
    max-width: 100%;
    height: auto;
    height: 150px !important;
    border-radius: 5px;
}

.game-card > h3 {
    margin-top: 15px;
}

.game-card-link {
    color: #FFFFFF;
    text-decoration: none;
}

.game-card-link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.game-card:hover {
    background: linear-gradient(135deg, #c281ff, #7dc7ff, #bf7dfe);
    background-size: 200% 200%;
    animation: iridescent 1.5s ease infinite;
}

.categoria-descripcion {
    text-align: justify;
    text-justify: inter-word;
}

/* Animación del gradiente iridiscente */
@keyframes iridescent {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* Estilos del pie de página */
footer {
    background: var(--background);
    color: #f4f4f4;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #A5D8FF;
}

.container-registro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Color del texto (blanco) */
}

form {
    color: #bac1ff;
    font-size: 17px;
}

.registro-title {
    text-align: center;
    width: 850px;
    padding: 10px;
    border: 4px solid;
    border-image: linear-gradient(45deg, #D4A5FF, #A5D8FF, #D4A5FF) 1;
    display: inline-block;
    background-color: transparent;
    border-radius: 8px; /* Opcional: Bordes redondeados */
}

/* Ajuste del tamaño de la imagen del juego */
.game-description img {
    width: 100%;
    display: flex;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-full {
    width: 100%;
    display: flex;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

/* Estilo del texto descriptivo del juego */
.description-text {
    font-size: 18px;
    line-height: 1.6;
    color: #f4f4f4;
    margin-bottom: 20px;
}

/* Estilo del botón "Comprar" */
.btn-outline-primary {
    color: #f4f4f4;
    border: 4px solid;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #2d2d2e;
    color: #121115;
    transform: scale(1.05);
}

.flex-end {
    justify-content: flex-end;
}

.game-card-all-games:hover {
    background: linear-gradient(135deg, #380964, #155995, #8531d4);
    background-size: 200% 200%;
    animation: iridescent 1.5s ease infinite;
}

.flex-direction-row {
    flex-direction: row;
}